<div class="sidebar" data-color="orange" data-image="./assets/img/sidebar-5.jpg">

    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="https://www.creative-tim.com/" class="simple-text logo-mini">
                CS
            </a>
            <a href="https://www.creative-tim.com/" class="simple-text logo-normal">
                Creamy Soft
            </a>
        </div>
        <div class="user">
            <div class="photo">
                <img src="./assets/img/default-avatar.png" />
            </div>
            <div class="info ">
                <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                    <span>Santiago florez
                        <b class="caret"></b>
                    </span>
                </a>
                <div class="collapse" id="collapseExample">
                    <ul class="nav">
                        <li>

                        </li>
                        <li>
                            <a class="profile-dropdown" href="#pablo">
                                <span class="sidebar-mini">S</span>
                                <span class="sidebar-normal">Opciones</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">
            <li class="nav-item ">
                <a class="nav-link" href="/">
                    <i class="nc-icon nc-chart-pie-35"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="../categorias">
                    <i class="nc-icon nc-grid-45"></i>
                    <p>Categorias
                    </p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="productos">
                    <i class="nc-icon nc-app"></i>
                    <p>Productos</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="insumos">
                    <i class="nc-icon nc-bullet-list-67"></i>
                    <p>Insumos</p>
                </a>
            </li>
            <div class="logo">
            </div>
            <li class="nav-item ">
                <a class="nav-link" href="pedidos">
                    <i class="nc-icon nc-notes"></i>
                    <p>Pedidos</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="ventas">
                    <i class="nc-icon nc-cart-simple"></i>
                    <p>Ventas</p>
                </a>
            </li>
            <div class="logo">
            </div>
            </li>
        </ul>
    </div>
</div>