
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
<link rel="icon" type="image/png" href="./assets/img/favicon.html">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Creamy soft</title>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" name="viewport" />

<link rel="canonical" href="https://www.creative-tim.com/product/light-bootstrap-dashboard-pro" />

<meta name="keywords" content="creative tim, html dashboard, html css dashboard, web dashboard, bootstrap 4 dashboard, bootstrap 4, css3 dashboard, bootstrap 4 admin, light bootstrap 4 dashboard, frontend, responsive bootstrap dashboard">
<meta name="description" content="Forget about boring dashboards, get a bootstrap 4 admin template designed to be simple and beautiful.">

<meta itemprop="name" content="Light Bootstrap Dashboard PRO by Creative Tim">
<meta itemprop="description" content="Forget about boring dashboards, get a bootstrap 4 admin template designed to be simple and beautiful.">
<meta itemprop="image" content="../../../s3.amazonaws.com/creativetim_bucket/products/34/original/opt_lbd_pro_thumbnail.jpg">

<meta name="twitter:card" content="product">
<meta name="twitter:site" content="@creativetim">
<meta name="twitter:title" content="Light Bootstrap Dashboard PRO by Creative Tim">
<meta name="twitter:description" content="Forget about boring dashboards, get a bootstrap 4 admin template designed to be simple and beautiful.">
<meta name="twitter:creator" content="@creativetim">
<meta name="twitter:image" content="../../../s3.amazonaws.com/creativetim_bucket/products/34/original/opt_lbd_pro_thumbnail.jpg">
<meta name="twitter:data1" content="Light Bootstrap Dashboard PRO by Creative Tim">
<meta name="twitter:label1" content="Product Type">
<meta name="twitter:data2" content="$39">
<meta name="twitter:label2" content="Price">

<meta property="og:title" content="Light Bootstrap Dashboard PRO by Creative Tim" />
<meta property="og:type" content="article" />
<meta property="og:url" content="dashboard.html" />
<meta property="og:image" content="../../../s3.amazonaws.com/creativetim_bucket/products/34/original/opt_lbd_pro_thumbnail.jpg" />
<meta property="og:description" content="Forget about boring dashboards, get a bootstrap 4 admin template designed to be simple and beautiful." />
<meta property="og:site_name" content="Creative Tim" />

<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />

<link href="./assets/css/bootstrap.min.css" rel="stylesheet" />
<link href="./assets/css/light-bootstrap-dashboard790f.css?v=2.0.1" rel="stylesheet" />
<link href="./assets/css/font-awesome.min.css" rel="stylesheet" />

<link href="./assets/css/demo.css" rel="stylesheet" />

<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '../../../www.googletagmanager.com/gtm5445.html?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NKDMSK6');</script>

</head>
<body class="sidebar-mini">

<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<div class="wrapper">

{{>navbar}}
<div class="main-panel">

 {{>nav}}

<div class="content">
<div class="container-fluid">
<div class="row">
<div class="col-md-12">
<div class="card bootstrap-table">
<div class="card-body table-full-width">
<div class="toolbar">

</div>
<table id="bootstrap-table" class="table">
<thead>
<th data-field="state" data-checkbox="true"></th>
<th data-field="id" class="text-center">ID</th>
<th data-field="name" data-sortable="true">Name</th>
<th data-field="salary" data-sortable="true">Salary</th>
<th data-field="country" data-sortable="true">Country</th>
<th data-field="city">City</th>
<th data-field="actions" class="td-actions text-right" data-events="operateEvents" data-formatter="operateFormatter">Actions</th>
</thead>
<tbody>
<tr>
<td></td>
<td>1</td>
<td>Dakota Rice</td>
<td>$36,738</td>
<td>Niger</td>
<td>Oud-Turnhout</td>
<td></td>
</tr>
<tr>
<td></td>
<td>2</td>
<td>Minerva Hooper</td>
<td>$23,789</td>
<td>Curaçao</td>
<td>Sinaai-Waas</td>
<td></td>
</tr>
<tr>
<td></td>
<td>3</td>
<td>Sage Rodriguez</td>
<td>$56,142</td>
<td>Netherlands</td>
<td>Baileux</td>
<td></td>
</tr>
<tr>
<td></td>
<td>4</td>
<td>Philip Chaney</td>
<td>$38,735</td>
<td>Korea, South</td>
<td>Overland Park</td>
<td></td>
</tr>

<tr>
<td></td>
<td>15</td>
<td>Lana Ryan</td>
<td>$64,151</td>
<td>Martinique</td>
<td>Portobuffolè</td>
<td></td>
</tr>
<tr>
<td></td>
<td>16</td>
<td>Daquan Bender</td>
<td>$91,906</td>
<td>Sao Tome and Principe</td>
<td>Walhain-Saint-Paul</td>
<td></td>
</tr>
<tr>
<td></td>
<td>17</td>
<td>Connor Wagner</td>
<td>$86,537</td>
<td>Germany</td>
<td>Solihull</td>
<td></td>
</tr>
<tr>
<td></td>
<td>18</td>
<td>Boris Horton</td>
<td>$35,094</td>
<td>Laos</td>
<td>Saint-Mard</td>
<td></td>
</tr>
<tr>
<td></td>
<td>19</td>
<td>Winifred Ryan</td>
<td>$64,436</td>
<td>Ireland</td>
<td>Ronciglione</td>
<td></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
<footer class="footer">
<div class="container">
<nav>
<ul class="footer-menu">
<li>
<a href="#">
Home
</a>
</li>
<li>
<a href="#">
Company
</a>
</li>
<li>
<a href="#">
Portfolio
</a>
</li>
<li>
<a href="#">
Blog
</a>
</li>
</ul>
<p class="copyright text-center">
©
<script>
                                                        document.write(new Date().getFullYear())
                                                    </script>
<a href="https://www.creative-tim.com/">Creative Tim</a>, made with love for a better web
</p>
</nav>
</div>
</footer>
</div>
</div>
<div class="fixed-plugin">
<div class="dropdown show-dropdown">
<a href="#" data-toggle="dropdown">
<i class="fa fa-cog fa-2x"> </i>
</a>
<ul class="dropdown-menu">
<li class="header-title"> Sidebar Style</li>
<li class="adjustments-line">
<a href="javascript:void(0)" class="switch-trigger">
<p>Background Image</p>
<label class="switch-image">
<input type="checkbox" data-toggle="switch" checked data-on-color="info" data-off-color="info">
<span class="toggle"></span>
</label>
<div class="clearfix"></div>
</a>
</li>
<li class="adjustments-line">
<a href="javascript:void(0)" class="switch-trigger">
<p>Sidebar Mini</p>
<label class="switch-mini">
<input type="checkbox" data-toggle="switch" data-on-color="info" data-off-color="info">
<span class="toggle"></span>
</label>
<div class="clearfix"></div>
</a>
</li>
<li class="adjustments-line">
<a href="javascript:void(0)" class="switch-trigger">
<p>Fixed Navbar</p>
<label class="switch-nav">
<input type="checkbox" data-toggle="switch" data-on-color="info" data-off-color="info">
<span class="toggle"></span>
</label>
<div class="clearfix"></div>
</a>
</li>
<li class="adjustments-line">
<a href="javascript:void(0)" class="switch-trigger background-color">
<p>Filters</p>
<div class="pull-right">
<span class="badge filter badge-black" data-color="black"></span>
<span class="badge filter badge-azure" data-color="azure"></span>
<span class="badge filter badge-green" data-color="green"></span>
<span class="badge filter badge-orange active" data-color="orange"></span>
<span class="badge filter badge-red" data-color="red"></span>
<span class="badge filter badge-purple" data-color="purple"></span>
</div>
<div class="clearfix"></div>
</a>
</li>
<li class="header-title">Sidebar Images</li>
<li class="active">
<a class="img-holder switch-trigger" href="javascript:void(0)">
<img src="./assets/img/sidebar-1.jpg" alt />
</a>
</li>
<li>
<a class="img-holder switch-trigger" href="javascript:void(0)">
<img src="./assets/img/sidebar-3.jpg" alt />
</a>
</li>
<li>
<a class="img-holder switch-trigger" href="javascript:void(0)">
<img src="./assets/img/sidebar-4.jpg" alt />
</a>
</li>
<li>
<a class="img-holder switch-trigger" href="javascript:void(0)">
<img src="./assets/img/sidebar-5.jpg" alt />
</a>
</li>
<li class="button-container">
<div>
<a href="https://www.creative-tim.com/product/light-bootstrap-dashboard" target="_blank" class="btn btn-info btn-block">Get free demo!</a>
</div>
</li>
<li class="button-container">
<div>
<a href="https://www.creative-tim.com/product/light-bootstrap-dashboard-pro" target="_blank" class="btn btn-warning btn-block">Buy now!</a>
</div>
</li>
<li class="button-container">
<div>
<a href="https://demos.creative-tim.com/light-bootstrap-dashboard-pro/documentation/tutorial-components.html" target="_blank" class="btn btn-danger btn-block">Documention</a>
</div>
</li>
<li class="header-title" id="sharrreTitle">Thank you for sharing!</li>
<li class="button-container">
<button id="twitter" class="btn btn-social btn-twitter btn-round twitter-sharrre"><i class="fa fa-twitter"></i> · 256</button>
<button id="facebook" class="btn btn-social btn-facebook btn-round facebook-sharrre"><i class="fa fa-facebook-square"></i> · 426</button>
</li>
</ul>
</div>
</div>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317" integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA==" data-cf-beacon='{"rayId":"8612c47e88aa746d","b":1,"version":"2024.2.4","token":"1b7cbb72744b40c580f8633c6b62637e"}' crossorigin="anonymous"></script>
</body>
<script src="./assets/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="./assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="./assets/js/core/bootstrap.min.js" type="text/javascript"></script>

<script src="./assets/js/plugins/bootstrap-switch.js"></script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2Yno10-YTnLjjn_Vtk0V8cdcY5lC4plU"></script>

<script src="./assets/js/plugins/chartist.min.js"></script>

<script src="./assets/js/plugins/bootstrap-notify.js"></script>

<script src="./assets/js/plugins/jquery.sharrre.js"></script>

<script src="./assets/js/plugins/jquery-jvectormap.js" type="text/javascript"></script>

<script src="./assets/js/plugins/moment.min.js"></script>

<script src="./assets/js/plugins/bootstrap-datetimepicker.js"></script>

<script src="./assets/js/plugins/sweetalert2.min.js" type="text/javascript"></script>

<script src="./assets/js/plugins/bootstrap-tagsinput.js" type="text/javascript"></script>

<script src="./assets/js/plugins/nouislider.js" type="text/javascript"></script>

<script src="./assets/js/plugins/bootstrap-selectpicker.js" type="text/javascript"></script>

<script src="./assets/js/plugins/jquery.validate.min.js" type="text/javascript"></script>

<script src="./assets/js/plugins/jquery.bootstrap-wizard.js"></script>

<script src="./assets/js/plugins/bootstrap-table.js"></script>

<script src="./assets/js/plugins/jquery.dataTables.min.js"></script>

<script src="./assets/js/plugins/fullcalendar.min.js"></script>

<script src="./assets/js/light-bootstrap-dashboard790f.js?v=2.0.1" type="text/javascript"></script>

<script src="./assets/js/demo.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

        demo.initVectorMap();

    });
</script>

<script>
    ! function(f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function() {
            n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window,
        document, 'script', '../../../connect.facebook.net/en_US/fbevents.js');

    try {
        fbq('init', '111649226022273');
        fbq('track', "PageView");

    } catch (err) {
        console.log('Facebook Track Error:', err);
    }
</script>
<noscript>
    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=111649226022273&amp;ev=PageView&amp;noscript=1" />
</noscript>
</html>
